@page
@model Web.Pages.ProducersModel
@section Styles{
	<link rel="stylesheet" href="css/producers.css" />
}

<div class="d-flex">
	<div id="filter" class="fs-5 mt-5">
		<div id="filter-label">Filter by Genre</div>
		<div id="genre">
			@foreach (var genre in Model.Genres)
			{
				<div>
					<input type="checkbox" id="@genre.Name">
					<label for="@genre.Name">@genre.Name</label>
				</div>
			}
		</div>
	</div>
	<div id="producer" class="row row-cols-2 row-cols-md-3 row-cols-md-4 w-100">
		@foreach (var user in Model.Producers)
		{
			<a class="nav-link text-dark" asp-page="/Profile" asp-route-username="@user.UserName">
				<div class="mb-3 text-center">
					<img class="img-fluid mb-3" src="@Url.Content(user.PicturePath)" alt="Portrait" />
					<div class="fw-bold">@user.UserName</div>
				</div>
			</a>
		}
	</div>
</div>

@section Scripts {
	<script src="~/js/producers.js"></script>
}
