@page "/profile/{username}"
@model Web.Pages.ProfileModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}

<div class="d-flex align-items-start justify-content-between">
	<div>
		<div id="services" class="border me-3">
			<div class="d-flex">
				<button class="btn btn-warning rounded-0 w-100">Basic</button>
				<button class="btn btn-secondary rounded-0 w-100">Standard</button>
				<button class="btn btn-secondary rounded-0 w-100">Custom</button>
			</div>
			<div class="p-3">
				<p id="service-description">High quality file, 5 minute track. You own the copyright to the produced song and may use it for any commercial purposes.</p>
				<div id="delivery-time">Delivery time: 3 Days</div>
			</div>
			<div class="d-flex justify-content-between p-3">
				<p class="fs-5">$20</p>
				<button class="btn btn-primary">Continue</button>
			</div>
		</div>
		<div class="d-flex justify-content-between align-items-center">
			<h4 class="ms-5 pt-4">My Tracks</h4>
			@if (User.Identity.IsAuthenticated && User.IsInRole("Producer"))
			{
				<button type="button" class="btn btn-success" id="add-track">Add track</button>
			}
		</div>
		<table id="playlist" class="table table-hover mx-auto text-end mt-4" style="width: 600px">
			<tbody>
				@for (int i = 0; i < Model.Tracks.Length; i++)
				{
					<tr>
						<td class="d-flex justify-content-between align-items-center">
							<button class="btn" id="@i"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="grey" d="M19.105 11.446a2.34 2.34 0 0 1-.21 1c-.15.332-.38.62-.67.84l-9.65 7.51a2.3 2.3 0 0 1-1.17.46h-.23a2.2 2.2 0 0 1-1-.24a2.29 2.29 0 0 1-1.28-2v-14a2.2 2.2 0 0 1 .33-1.17a2.27 2.27 0 0 1 2.05-1.1c.412.02.812.148 1.16.37l9.66 6.44c.294.204.54.47.72.78c.19.34.29.721.29 1.11" /></svg></button>
							<audio src="@Url.Content(Model.Tracks[i].Path)" class="track"></audio>
							<div class="text-secondary duration"></div>
							<div class="me-3 d-inline flex-grow-1">@Model.Tracks[i].Title</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
		<button class="btn text-secondary pt-2 d-block mx-auto" style="font-size: 0.8em">Load more...</button>
	</div>
	<div id="bio">
		<div class="d-flex align-items-center mb-5">
			<img class="img-fluid" src="@Url.Content(Model.PicturePath)" alt="Profile icon" />
			<p class="ms-3 fw-bold">@Model.UserName</p>
		</div>
		<div class="p-3 border border-top-0">
			<p class="text-secondary">MUSIC STYLES: <span class="fw-bold">Jazz, Bossa Nova, Ambient</span></p>
			<p>As a music producer, I’m passionate about blending diverse genres to create fresh, innovative soundscapes. My production style leans on rich textures, deep rhythms, and melodic experimentation, and I’ve had the opportunity to work with both emerging and established artists across the industry. From hip-hop to electronic, I love pushing creative boundaries and helping craft songs that resonate with listeners, whether it's a chart-topping single or an underground hit.</p>
			<p>Music has always been at the heart of what I do, and I’m always exploring new sounds and collaborations to shape the future of the industry. I pride myself on my ability to fuse traditional elements with modern techniques, which has helped me grow as a dynamic force in music production. Whether in the studio or performing live, I bring energy and creativity to every project, and I’m always excited to connect with other artists to bring fresh ideas to life.</p>
		</div>
		<button class="btn btn-secondary d-block mx-auto mt-3">Conctact Me</button>
	</div>
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Producer"))
{
	<div id="overlay">
		<div>
			<div class="d-flex justify-content-between">
				<input type="file" class="form-control" accept="audio/mp3, audio/wav, audio/ogg" />
				<button type="button" class="btn" id="close-overlay"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 32 32"><path fill="currentColor" d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2m5.4 21L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z" /></svg></button>
			</div>
			<input class="form-control" id="title" />
			<button type="button" class="btn btn-success" id="upload-track">Add</button>
		</div>
	</div>
	<input type=hidden id="username" value="@Model.UserName" />
}

@using System.Text.Json
@section Scripts {
	<script>
		const tracks = @Json.Serialize(Model.TrackTitles);
	</script>
	<script type="module" src="~/js/profile.js"></script>
	<script type="module" src="~/js/player.js"></script>
}
